NODE_ENV=dev
PORT=8000

DB_NAME=EduManage
MONGO_URL=

JWT_SECRET=b6fß4d94c98e7a4b1cdd6b169e491e7d3a79e6fc80c45aeeb3d735e05b7ee8b7c
JWT_EXPIRES_IN=7d
JWT_REFRESH_SECRET=f9c66c11ab876de9415e4fc930c81351a7e40fd23b5a2041e2d6b82706de7034
JWT_REFRESH_EXPIRES_IN=7d

CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_URL=